.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: bold;
  color: rgb(152, 32, 110);
}

.todo-button {
  background-color: rgb(152, 32, 110);
  border: 0;
  border-radius: 1em;
  width: 7em;
  height: 2.8em;
  color: white;
  font-weight: bold;
}
